* { margin:0; padding:0 }
main {
    font: 12px "Verdana";   
}
#lista-contatos {
    margin: 0 auto;
    width: 50%; 
}
#lista-contatos table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
}
#lista-contatos table tr {
    border:1px solid #000;
    padding:10px;
}
#lista-contatos table td {
    padding:5px;
}
#lista-contatos table td img {
    width: 100px;
    border:1px solid #000;
    background: #FFF;
}

#lista-contatos table tbody tr:hover {
    background: yellow;
}
.botao-remover-contato {
    cursor: pointer;
    text-align: center;
    border:none !important;
    width: 16px !important;
    background: none !important;
}
#formulario-cadastro-contato
{
    display: none;   
    margin:0 auto;
    width: 50%;
    padding-top: 10px;
}
#formulario-cadastro-contato fieldset
{
    background: #CCC;
    border:1px solid #000;
    padding:1%;
    margin:1% 0 1% 0;
}
#formulario-cadastro-contato legend {
    text-align: center;
    padding:5px;
    background: #000;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
#formulario-cadastro-contato ul li
{
    display: inline-block;
    padding:5px 6% 5px 5%;
}
#formulario-cadastro-contato ul img {
    width: 100px;
    border:1px solid #000;
    background: #fff;
    cursor: pointer;
}

#formulario-cadastro-contato input {
    display: block;
    margin:0px 0 5px 0;
    border:1px solid #000;
    padding:5px;
    width: 98%;
}

#formulario-cadastro-contato button {
    float: right;
    background: #000;
    color: #fff;
    padding:10px;
}